.card-deck .card {
  max-width: 10rem;
  min-width: 20%;

  .card-img-top {
    object-fit: cover;
    object-position: top left;
    height: 10rem;
  }

  .card-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem; // match card-img-top
    background-color: rgba(0, 0, 0, 85%);
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    opacity: 0;
    transition: all .2s ease, background-color 0s ease; // Safari requires all
  }

  &:hover {
    .card-actions {
      opacity: 1;
    }
  }
}

.spacer {
  min-width: 0.5rem;
}

.preview-container {
  height: calc(100vh - 170px);
  overflow: hidden;

  .spinner-border {
    margin-top: 40%;
  }
}

::ng-deep .document-selector {
  width: 80vw;
  min-width: 50vw;
}
