<app-page-header i18n-title title="Split & merge documents">
  <div class="btn-group mr-5">
    <button class="btn btn-sm btn-outline-danger" (click)="cancel()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#slash-circle" />
      </svg>&nbsp;<ng-container i18n>Cancel</ng-container>
    </button>
  </div>

  <div class="btn-group mr-5">
    <button class="btn btn-sm btn-outline-primary"
    [ngbPopover]="documentSelector" popoverTitle="Add documents" autoClose="true" popoverClass="shadow" #documentSelectorPopover="ngbPopover">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#plus-circle" />
      </svg>&nbsp;<ng-container i18n>Add Documents</ng-container>
    </button>
    <ng-template #documentSelector>
      Select docs
    </ng-template>
  </div>

  <div class="btn-group">
    <button class="btn btn-sm btn-outline-primary" (click)="save()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#check-circle" />
      </svg>&nbsp;<ng-container i18n>Save</ng-container>
    </button>
  </div>
</app-page-header>

<div class="row">
  <div class="col-8">
    <div class="card-deck p-4" dndDropzone (dndDrop)="onDrop($event, documents)">
      <div class="spacer bg-primary" dndPlaceholderRef>
      </div>
      <div *ngFor="let d of documents" class="card" [dndDraggable]="d" dndEffectAllowed="move" (dndMoved)="onDragged(d, documents)">
        <img class="card-img-top" [src]="getThumbUrl(d.id)">
        <div class="card-body p-2">
          <p class="card-text">{{d.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 preview-container text-center bg-light">
    <div *ngIf="!loading && !previewUrl" class="mt-5 text-muted">Preview</div>
    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <pdf-viewer *ngIf="previewUrl" [src]="previewUrl" [original-size]="false" [show-borders]="true" [show-all]="true" [render-text-mode]="2" (after-load-complete)="pdfPreviewLoaded($event)"></pdf-viewer>
  </div>
</div>
