<app-page-header i18n-title title="Split & merge documents">
  <div class="btn-group mr-5">
    <button class="btn btn-sm btn-outline-danger" (click)="cancel()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#slash-circle" />
      </svg>&nbsp;<ng-container i18n>Cancel</ng-container>
    </button>
  </div>

  <div class="btn-group ml-5">
    <button class="btn btn-sm btn-outline-primary" (click)="save()" [disabled]="splitMergeService.documents.length <= 1">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#check-circle" />
      </svg>&nbsp;<ng-container i18n>Save</ng-container>
    </button>
  </div>
</app-page-header>

<div class="row">
  <div class="col-7">
    <div class="btn-group">
      <button class="btn btn-sm btn-outline-primary" (click)="openChooser()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#plus-circle" />
        </svg>&nbsp;<ng-container i18n>Add Document(s)</ng-container>
      </button>
    </div>
    <div class="card-deck p-4" dndDropzone (dndDrop)="onDrop($event, documents)">
      <div class="spacer bg-primary" dndPlaceholderRef>
      </div>
      <div *ngFor="let d of documents" class="card" [dndDraggable]="d" dndEffectAllowed="move" (dndMoved)="onDragged(d, documents)">
        <img class="card-img-top" [src]="getThumbUrl(d.id)">
        <div class="card-body p-2">
          <p class="card-text small">{{d.title}}</p>
        </div>
        <div class="card-actions p-2">
          <div class="btn-group btn-group-sm mb-2 w-100">
            <button class="btn btn-sm btn-outline-danger" title="Delete" (click)="duplicateDocument(d)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#trash" />
              </svg>
            </button>
            <button class="btn btn-sm btn-outline-primary" title="Duplicate" (click)="deleteDocument(d)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#files" />
              </svg>
            </button>
            <button class="btn btn-sm btn-outline-primary" title="Choose pages">
              <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#hash" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 preview-container text-center bg-light">
    <h6 class="my-2 text-muted" i18n>Preview</h6>
    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only" i18n>Loading...</span>
    </div>
    <pdf-viewer *ngIf="previewUrl" [src]="previewUrl" [original-size]="false" [show-borders]="true" [show-all]="true" [render-text-mode]="2" (after-load-complete)="pdfPreviewLoaded($event)"></pdf-viewer>
  </div>
</div>
