.card {
  cursor: move;

  .card-img {
    object-fit: cover;
    object-position: top left;
    height: 10rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.spacer {
  min-height: 0.25rem;
  width: 100%;
  margin: 1rem;
}

.preview-container {
  height: calc(100vh - 170px);
  overflow: hidden;

  .spinner-border {
    margin-top: 40%;
  }
}

::ng-deep .document-selector {
  width: 80vw;
  min-width: 50vw;
}

button svg, label svg {
  margin-right: 0.25rem;
}

app-input-debounce {
  flex: 1 1;
}
