@import "src/theme";

.modal-body {
  max-height: 70vh;
  overflow-y: scroll;
}

::ng-deep .page-chooser-viewer {
  min-height: 400px;
  width: 100%;

  .pdfViewer {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .page {
      margin: 2px 3% 2rem !important;
      cursor: pointer;

      .textLayer {
        pointer-events: none;
      }

      &:hover {
        .textLayer {
          background-color: $primary !important;
          opacity: 0.5;
        }
      }
    }

    .page.selected {
      &::after {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 0.25rem;
        content: "";
        background: $primary no-repeat 50%/50% 50%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
      }

      .textLayer {
        background-color: $primary !important;
        opacity: 0.5;
      }
    }
  }
}
